doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title #{title}
    link(rel="stylesheet",type="text/css",href="../stylesheets/Bootstrap/bootstrap.css")
    link(rel="stylesheet",type="text/css",href="../stylesheets/Bootstrap/bootstrap-responsive.css")
    link(rel="stylesheet",type="text/css",href="../stylesheets/style.css")
    script(type="text/javascript",src="/javascripts/jquery.js")
    script(type="text/javascript",src="/javascripts/Bootstrap/bootstrap.js")
    script(type="text/javascript",src="/javascripts/textClear.js")
    script(type="text/javascript",src="/javascripts/jquery.validation.js")
  body
    div.container
        h3.page-header #{LoginTitleText}
        form#customerForm(role="form",autocomplete="off")    
            input#cid.span3(type='hidden', value='', placeholder='first name', required='required')  
            br
            input#fname.span3(type='text', value='', placeholder='first name', required='required')  
            br
            input#lname.span3(type='text', value='', placeholder='last name', required='required')
            br
            input#email.span3(type='email', value='', placeholder='email', required='required')
            br
            input.btn(id="registerBtn",type="button", value="Register")
        div.filter
            select(id="searchDdl", style="margin:10px;")
                option(value="fname") First Name
                option(value="lname") Last Name
                option(value="email") Email
                option(value="full") Full
            input#searchText.span2(type="text",placeholder="search things...", style="margin:10px;")
            input.btn(id="FindCustomer",type="button", value="Find", style="margin:10px;")
        div.list
        span.label.label-info#TotalRecords
    ul.pager
        li
            a.pre Previous
        li
            input#pageNumber.span2(type="text",placeholder="Page #",style="margin-bottom:1px;")
            input.btn(id="goToPage",type="button", value="go")
        li
            a.next Next
        li
    script(type="text/javascript",src="/javascripts/application.js")
    